<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" name="from" class="form-control" />
      </div>
      <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to" name="to" class="form-control" />
      </div>

      <div class="form-group">
        <button [disabled]="!to || !from" (click)="search()" class="btn btn-default">
          Search
        </button>
      </div>
    </form>
    <div class="card">
      <table class="table table-condensed" *ngIf="flights.length > 0">
        <caption>Flight Search Results</caption>
        <thead>
          <tr>
            <th id="id-flight">Id</th>
            <th id="from-flight">From</th>
            <th id="to-flight">To</th>
            <th id="date-flight">Date</th>
            <th id="select-flight"></th>
            <th id="edit-flight"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of flights" [class.active]="f === selectedFlight">
            <td>{{ f.id }}</td>
            <td>{{ f.from }}</td>
            <td>{{ f.to }}</td>
            <td>{{ f.date | date: "dd.MM.yyyy HH:mm" }}</td>
            <td>
              <button class="btn btn-primary" (click)="select(f)">Select</button>
            </td>
          </tr>
        </tbody>

      </table>


    </div>
    <div class="card" *ngIf=" selectedFlight">
      <div class="header">
        <h2 class="title">Flight Edit</h2>
      </div>
      <div class="content">

        <div >
          {{ message }}
        </div>

        <form>
          <div class="form-group">
            <label>Id</label>
            <input name="id" class="form-control"[(ngModel)]="selectedFlight.id">
          </div>

          <div class="form-group">
            <label>From</label>
            <input name="from" class="form-control" [(ngModel)]="selectedFlight.from">
          </div>

          <div class="form-group">
            <button (click)="save()" class="btn btn-default">Save</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
